*{
    box-sizing: border-box;
}

/* GENERAL */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
  color: #fff;
  padding-top: 80px;
}

img{
    max-width: 100%;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.logo-img {
    filter: drop-shadow(0 0 6px rgba(241, 196, 15, 0.6));
}

.logo-text {
    color: #f1c40f;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f1c40f;
}

.nav-links a.active {
  color: #bfa100;
}

/* BOTÓN NAV */
.btn-nav {
  border: 1px solid #f1c40f;
  padding: 8px 15px;
  border-radius: 20px;
  color: #f1c40f;
  text-decoration: none;
  transition: 0.3s;
}

.btn-nav:hover {
  background: #f1c40f;
  color: #000;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
              url("./img/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 120px 20px 60px;
}

.hero-content {
  max-width: 700px;
}

.subtitle {
  color: #f1c40f;
  letter-spacing: 3px;
}

.hero h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 900;
}

.hero span {
  color: #f1c40f;
}

.hero-text {
  color: #ccc;
}

/* SECCIÓN */
.section {
  padding: clamp(40px, 8vw, 80px) 20px;
  text-align: center;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(20,20,20,0.8);
  border: 1px solid rgba(241,196,15,0.2);
  border-radius: 20px;
  padding: 30px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px) scale(1.02);
  border-color: #f1c40f;
  box-shadow: 0 0 30px rgba(241,196,15,0.3);
}

.card i {
  font-size: 2rem;
  color: #f1c40f;
  margin-bottom: 10px;
}

.card p {
  color: #aaa;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card:active {
  transform: scale(0.98);
}

.card-consejos {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;

  background: rgba(20,20,20,0.9);
  border: 1px solid rgba(241,196,15,0.3);
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(241,196,15,0.1);
}

.card-consejos h2 {
  text-align: center;
  color: #f1c40f;
  margin-bottom: 20px;
}

.card-consejos ul {
  list-style: none;
  padding: 0;
}

.card-consejos li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  color: #ccc;
  line-height: 1.5;
}

.card-consejos li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #f1c40f;
  font-weight: bold;
}


/* CONTENEDOR BOTONES */
.descargas {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

/* BOTONES */
.btn-descarga {
  background: transparent;
  border: 1px solid #bfa100;
  color: #bfa100;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.9rem;
}

.btn-descarga:hover {
  background: #bfa100;
  color: #000;
}

/* BOTÓN CARD */
.btn-card {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 15px;
  border: 1px solid #f1c40f;
  border-radius: 20px;
  color: #f1c40f;
  text-decoration: none;
  transition: 0.3s;
}

.btn-card:hover {
  background: #f1c40f;
  color: #000;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #333;
  color: #888;
}

/*MOBILE*/
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }
    .btn-nav {
        width: 100%;
        text-align: center;
    }

    .logo-img {
        width: 32px;
        height: 32px;
    }
    
}